.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.select {
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  line-height: 1.3;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 200px;
  margin: 0;
  vertical-align: middle;
}


.my-select {
  width: 200px; /* set the width of the select element */
  height: 50px; /* set the height of the select element */
  padding: 10px; /* add padding to the select element */
  border: 5px solid #ccc; /* add a border to the select element */
  border-radius: 5px; /* add border-radius to the select element */
  font-size: 16px; /* set the font size of the select element */
  margin: 20px; /* add margin to the select element */
}

.button {
  height: 40px; /* set a fixed height for all buttons */
  width: auto; /* allow the width to adjust to the content */
  padding: 10px 20px 10px 20px; /* add some padding for better readability */
  margin-right: 10px; /* add some space between buttons */
  border: none; /* remove the default border */
  border-radius: 5px; /* add rounded corners */
  background-color: #ac3131; /* set a background color */
  color: #333; /* set a text color */
  font-size: 16px; /* set a font size */
  cursor: pointer; /* add a cursor on hover */
}

button:hover {
  background-color: #ccc; /* change the background color on hover */
  color: #fff; /* change the text color on hover */
}

.link {
  color: #2a55b3;
  text-decoration: none;
  margin: 10px ;
  padding: 10px;
}

.link:hover {
  text-decoration: underline;
  text-decoration-style: solid;
}

.nav-links {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 15px;
}

ul {
  list-style-type: none;
}